.navbar.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar:not(.scrolled) {
    position: relative;
}

.magazines-container .card {
    height: 400px;
}

.magazines-container .card img {
    min-height: 250px;
}

#magazine-body {
    background-image: url("../images/magazine-bg.jpg");
    background-size: cover;
    padding-bottom: 3rem;
}

.content {
    width: 50%;
    margin-top: 5rem;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 20px;
}

.content iframe {
    height: 20cm;
    width: 100%;
    padding: 0.25rem 0.25rem 0.5rem;
    border-radius: 20px;
}

@media (max-width: 767.98px) {
    .content {
        width: 80%;
        margin-top: 3rem;
    }
}